/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  height: 75px;
  background-color: #0084FD;
  display: flex;
  margin-bottom: 45px;
}

.container {
  width: 310px;
  margin: 0 auto;
}

/* HEADER */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav i {
  font-size: 1.5em;
  color: white;
}

header .container nav ul {
  list-style: none;
  display: flex;
  display: none;
}

header .container nav ul a {
  text-decoration: none;
  color: white;
}

/* MAIN */

main .container {

}

main .container .box {
  height: 200px;
  background-color: #B5DDFF;
  border-radius: 20px;
  margin-bottom: 20px;
}