/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

header {
  height: 75px;
  background-color: #0084FD;
  display: flex;
  margin-bottom: 45px;
}

section {
  background-color: #9792E4;
  width: 100%;
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 40px;
}

p {
  line-height: 25px;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

.container-light {
  width: 85vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.container-text {
  width: 70vw;
  margin: 0 auto;
  padding-top: 20px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #0084FD;
  padding: 10px 50px;
  border-radius: 30px;
}

/* HEADER */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav i {
  font-size: 1.5em;
  color: white;
}

header .container nav ul {
  list-style: none;
  display: flex;
  display: none;
}

header .container nav ul a {
  color: white;
}

/* MAIN */

/* Box */
.container .box {
  background-color: #B5DDFF;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container .box h3 {
  color: #0686FD;
  margin-bottom: 20px;
}

.container .box p {
  color: #536575;
  margin-bottom: 40px;
}

.container .box .container-text .button::before {
  font-family: 'FontAwesome';
  content: '\f179';
  color: white;
  padding-right: 10px;
}

.container .box img {
  margin-top: 40px;
  width: 100%;
}

.container .box .container-light i {
  font-size: 70px;
  margin-bottom: 20px;
  color: #0686FD;
}
/* /Box */

/* Planning */
section .container img {
  width: 100%;
  margin-bottom: 50px;
}

section .container .plantop h2 {
  color: white;
  margin-bottom: 30px;
}

section .container .plantop p {
  color: white;
  margin-bottom: 30px;
}

section .container .box {
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

section .container .box .container-light h3 {
  font-size: 1.3em;
  color: black;
}
/* /Planning */

/* Testimonials */
.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

.testimonials .container .text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.testimonials .container .text h2 {
  margin-bottom: 30px;
  color: #9792E4;
}

.testimonials .container .box {
  background-color: #9792E4;
  display: flex;
  align-items: center;
}

.testimonials .container .box  img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
}

.testimonials .container .box p,span {
  color: white;
}

.testimonials .container .box span {
  margin-bottom: 30px;
}
/* /Testimonials */

/* Benefits */
.benefits .box span {
  color: #9792E4;
  font-size: 2em;
}

.benefits h2 {
  color: white;
  margin-bottom: 50px;
}

.benefits .box h2 {
  color: #9792E4;
}
/* /Benefits */

/* About Us */
.about-us {
  background-color: white;
}

.about-us h2 {
  font-size: 2.7em;
  color: #9792E4;
  margin-bottom: 30px;
}

.about-us p {
  line-height: 35px;
  margin-bottom: 30px;
}

.about-us .about img {
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0;
}

.about-us .about h4 {
  font-size: 1.8em;
  line-height: 40px;
  color: #9792E4;
  margin-bottom: 30px;
}

.about-us .about .button {
  background-color: #9792E4;
}

.about-us .about .button::before {
  font-family: 'FontAwesome';
  content: '\f08c';
  padding-right: 10px;
}